Django==4.2
django-cron
django-timezone-field
djangorestframework
Pillow
django-cors-headers
drf_spectacular
gunicorn
python-dotenv
requests
selenium
opencv-python
pytz
bs4
django-storages
google-cloud-storage
django-allauth
dj-rest-auth
psycopg2-binary==2.9.10
playwright